body 
	{
	line-height:1.5;
	font-family:normal 10pt,"Helvetica Neue", Arial, Helvetica, sans-serif;
	color:#555;
	background:#EFEFEF;
	font-size:10pt;
	}
		
	hr 
	{
	background:#ccc;
	color:#ccc;
	width:100%;
	height:2px;
	margin:2em 0;
	padding:0;
	border:none;
	}
		
	hr.space 
	{
	background:#fff;
	color:#fff;
	visibility:hidden;
	}
		
	h2, h3, h4, h5, h6 
	{
	Gill Sans, Verdana;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;


	}
		
	blockquote 
	{
	margin:1.5em;
	padding:1em;
	font-style:italic;
	font-size:.9em;
	}
	
	.small {font-size:.9em;}
	.large {font-size:1.1em;}
	.quiet {color:#999;}
	.hide {display:none;}
		
		
    #main 
	{ 
	width:400px; 
	margin: 0px auto; 
	border:solid 1px #b2b3b5; 
	-moz-border-radius:10px; 
	padding:10px; background-color:#f6f6f6;
	
	}
   

       
	fieldset 
	{ 
	border:none; 
	width:900px;
	}
		
    legend 
	{ 
	font-size:18px; 
	margin:0px; 
	padding:5px 0px; 
	color:#b0232a; 
	font-weight:bold;
	}
		

    label 
	{ 
	display:block; 
	margin:15px 0 5px;
	}
		

    .prev, .next 
	{ 
	background-color:#69A8CD; 
	padding:3px 7px; 
	color:#fff; 
	text-decoration:none;
	}
		
	.prev:hover, .next:hover 
	{ background-color:#000; 
	text-decoration:none;
	}
		
    .prev { float:left;}
		
    .next { float:right;}

	#steps 
	{ 
	Gill Sans, Verdana;
	font-weight: bold;
	list-style:none; 
	width:100%; 
	overflow:hidden; 
	margin:0px; 
	padding:0px;
	
	background:#F4F7FB;
	font-size:93%;
	
	}
		
    #steps li 
	{
	display:inline;
	margin:0;
	padding:0;
	
	font-size:15px; 
	float:left; 
	padding:10px; 
	color:#b0b1b3; 
	align:right;
	
	}
		
    #steps li span 
	{
	
	font-size:11px; 
	display:block;
	}
		
    #steps li.current 
	{ 
	color:#627EB7;
	}
		
    #makeWizard 
	{ 
	background-color:#b0232a; 
	color:#fff; padding:5px 10px; 
	text-decoration:none; 
	font-size:18px;
	}
		
    #makeWizard:hover
	{ 
	background-color:#000;